.menu-section{
    padding: 80px 0;
    background: #f9f9f9;
}

.container{
    width: 85%;
    margin: auto;
    display: flex;
    gap: 50px;
}

.menu-column{
    flex: 1;
}

.menu-column h2{
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.menu-item{
    margin-bottom: 25px;
}

.menu-item .title{
    display: flex;
    justify-content: space-between;
    position: relative;
    font-weight: 600;
}

/* dotted line */
.menu-item .title::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-bottom: 1px dotted #aaa;
    z-index: -1;
}

.menu-item .title span{
    background: #f9f9f9;
    padding: 0 5px;
}

.menu-item p{
    font-size: 13px;
    color: gray;
}

/* IMAGE SECTION */
.menu-images{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.img-box{
    position: relative;
    height: 250px;
    overflow: hidden;
}

.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.img-box:hover img{
    transform: scale(1.1);
}

.img-box h4{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background: rgba(0,0,0,0.5);
    padding: 5px 10px;
}